html {
  background: black;
  background-position: center;
  overflow-y: hidden;
  overflow-x: hidden;
  min-width: 800px;
}

.app {
  /* width: 100%; */
  /* margin: 0px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-header {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5vh;
  height: auto;
}

.wheel-history {
  display: flex;
  width: 63vw;
  border-radius: 14pt;
  padding-top: 1vh;
  padding-left: 1.3vw;
  margin-left: .3vw;
  padding-top: .3vw;
  font-family: 'Ubuntu';
  min-height: 7vh;
  align-items: center;
  font-weight: bold;
  color: rgb(8, 8, 8);
  background: linear-gradient(90deg, white, white);
  margin-top: -15px;
}

.history-num {
  margin: 0px 5px;
  color: rgb(238, 238, 238);
}

.green-previous-number {
  background-color: rgba(89, 161, 34, 0.9);
  width: 2.45vw;
  height: 2.45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu';
  border-radius: 10pt;
  padding: .2vh;
  font-size: 1.6vw;
  margin-bottom: 1vh;
  margin-left: .4vw;
  margin-top: .2vw;

}

.red-previous-number {
  background-color: rgba(254, 0, 0, 0.9);
  width: 2.45vw;
  height: 2.45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu';
  border: 3px green;
  border-radius: 10pt;
  padding: .2vh;
  font-size: 1.6vw;
  margin-bottom: 1vh;
  margin-left: .4vw;
  margin-top: .2vw;


}

.black-previous-number {
  background-color: rgba(22, 22, 22, 0.9);
  width: 2.45vw;
  height: 2.45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu';
  border-radius: 10pt;
  padding: .2vh;
  font-size: 1.6vw;
  margin-bottom: 1vh;
  margin-left: .4vw;
  margin-top: .2vw;

}

.header-h3 {
  margin: .4vw;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.header-h4 {
  font: 'Ubuntu';
  font-size: 22px;
  justify-content: center;
}

.header-div {
  display: flex;
  align-items: flex-start;
  width: 100%;
  /* height: 10vh; */
  height: 100%;
  text-shadow: rgb(167,120,51) 2px 2px 1px;
  border-radius: 14pt;
  padding-left: 0.5vw;
  margin-left: .3vw;
  font-family: 'Ubuntu';
  font-size: 2.5vw;
  color: rgb(12, 12, 12);
}

.right-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 30vh;
  
}

.header-h4 {
  color: white;
  font-size: 30px;
}

.wood-railing {
  width: 98.4vw;
  height: 58vh;
  /* padding-top: 5vh; */
  background: black;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
  border-radius: 14pt;
  /* justify-self: center; */
  /* align-self: center; */
}

.chip-count-text {
  color: rgb(238, 238, 238);
  text-shadow: rgb(167,120,51) 2.5px 1px 3px;
  font-size: 2vw;
  /* font-family: 'Libre Baskerville', serif; */
  margin-bottom: .9vh;
}

.previous-numbers-div {
  display: flex;
}


.chip-count-pending-bet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: .2vw;
}

.pending-bet-span {
  color: white;
  font-size: 1vw;
  margin-top: 3.5vw;
  position: absolute;

}

.empty-pending-bet-span {
  font-size: 1vw;
  color: rgba(240, 248, 255, 0);
  /* position: absolute;
  right: 8vw; */
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  html {
    background-size: 100px 100px;
    min-width: 300px;
  }
  
  .wood-railing {
    width: 70vh;
    height: 96vw;
    
    margin-bottom: 0vh;
    border: rgb(78, 9, 1) 4px solid; 
    border-radius: 14pt;
    /* justify-self: center; */
    /* align-self: center; */
    transform: rotate(90deg);
  }
}
  
@media only screen and (min-width: 375px) and (max-width: 767px) {

}
  
@media only screen and (min-width: 425px) and (max-width: 767px) {

}
  
@media only screen and (min-width: 768px) and (max-width: 1440px) {
    
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0 px;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  font-size: 16px;
  font-weight: bold;
  color: white;
}